@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #f3f4f6;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 10;
}